@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto|Montserrat);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
  font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}

h1, h2, h3 {
	font-family: 'Montserrat' , Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
}

ul {
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 1.0rem;
}

/* Header section */
header {
	margin: auto;
	width: 100vw;
	height: 12vh;
	display: block;
	position: relative;
	background-color: white;
	overflow: hidden;
	z-index: 1;
}

nav {
	margin: 10px;
	padding: 0px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	opacity: 1;
}

/* Body section */
section {
	margin: 0 auto;
	position: relative;
}

/* Footer Page */
footer {
	margin-top: 20px;
	width: 100vw;
	height: 12vh;
	position: absolute;
	bottom: 0;
	z-index: 1;
	clear: both;
}

footer li {
	display: inline;
}

.wrapper{
	display: flex;
	margin: auto;
	padding: 8px;
}

.column-1 {
	flex: 1;
	order: 1;
	margin: 0 auto;
	padding: 0;
	height: auto;
	text-align: center;
}

.column-2 {
	flex: 1;
	order: 2;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.column-1 p {
	margin: 2px auto;
	text-align: justify;
	font-family: 'Roboto';
	line-height: 1.4rem;
	width: 80%;
}

.column-2 img {
	margin: auto;
	width: auto;
	height: 500px;
	opacity: 1.0;
	box-shadow: 4px 4px 8px #D98E04;
}

.logo {
	float: left;
	display: block;
	width: auto;
	padding-left: 20px;
}

.logo img {
	height: auto;
}

.menu {
	float: left;
	display: block;
	height: auto;
	width: 70%;
	margin: 20px;
	text-align: center;
}

.menu li {
	display: inline;
	padding: 0 15px;
}

.menu a {
	color: black;
	text-shadow: ;
	font-family: Arial, Tahoma, Arial, sans-serif;
	font-size: 1.0rem;
}

.menu a:hover {
	color: #D92804;
	transition: 0.5s;
}

.social {
	float: right;
	display: flex;
	padding-right: 20px;
	width: auto;
}

.social li {
	display: inline;
	padding: 2px;
}

.social img {
	height: 24px;
	width: 24px;
}

.social a:hover {
	opacity: 0.7;
	transition: 0.5s;
}

#slideshow {
	margin: auto;
	width: 75vw;
	height: 75vh;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

#slideshow img {
	width: auto;
	height: 100%;
}

#mob_slideshow {
	display: none;
}

slides {
	margin: auto;
	width: auto;
	height: auto;
}

/* Gallery */
.Gallery {
	margin: 10px 50px;
	padding: 0;
	text-align: center;
	position: relative;
	overflow: auto;
}

.Gallery img {
		padding: 5px;
		width: 200px;
		height: 160px;
		transition: 1s;
}

.Gallery img:hover {
		filter: grayscale(100%);
		transform: scale(1.05);
		transition: 1s;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.contact {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	letter-spacing: 2px;
}

.contact li {
	display: inline;
}

.contact img {
	height: 10px;
	width: 10px;
	padding-right: 2px;
}

.contact a {
	font-size: 0.8rem;
	font-family: Arial;
	color: black;
}

.contact a:hover {
	padding: 2px;
	color: #D92804;
	transition: 0.5s;
}

.mobile {
		display: none;
	}

	#ludwig {
		margin: 2px;
	  padding-left: 1em;
		padding: 1em;
	  border-left: 3px solid #2A5559;
	  font-family: 'Montserrat', serif;
	  line-height: 2.4rem;
		letter-spacing: 0.2em;
		font-style: italic;
		text-shadow: 2px 4px lightgray;
	  font-weight: 100;
	  &:before, &:after {
	      content: '\201C';
	      font-family: 'Montserrat';
	      color: lighten($black, 40%);
	   }
	   &:after {
	      content: '\201D';
	   }

		 #ludwig h1 {

	}


/* Small screens */
@media screen and (max-width: 860px) {

	.logo {
		display: none;
	}

	.menu {
		display: none;
	}

	.social {
		display: none;
	}

	.contact {
		display: none;
	}

	.mobile {
		box-sizing: border-box;
		display: block;
		width: 100vw;
		border: 1px solid red;
	}

	.mob_logo {
			display: flex;
			text-align: center;
	}

	.mobile ul {
			display: none;
			float: right;
	}
}
